<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
</head>
<body>
    <div class="login-form">
        <h3> Welcome to the Session Auth App </h3>
        <% if (session && session.isAuth) { %>
            <p>You are logged in as <strong><%= session.username %></strong></p>
            <a href="/dashboard">Go to Dashboard</a>
            <br>
            <a href="/logout">Logout</a>
        <% } else { %>
            <p>Please <a href="/login">Login</a> or <a href="/register">Register</a></p>
        <% } %>
    </div>
</body>
</html>
